body{
    background-color:#F6F3E5;
}
.post {
 background-color: white;
 width: 85%;
 margin: auto;
}
.left {
    background-color: pink;
  float: left;
}
.right {
    background-color: yellow;
    float: right;
}
.clearfix
{
    clear:both ;
}